.page {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.page-inner {
    display: flex;
    justify-content: start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
}

.section {
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 45%;
    min-height: 100vh; /* Allows full height */
    min-height: 100dvh;
    margin: auto 0; /* Keeps content within viewport */
    padding: 8rem 3.5rem; 
    border-right: 1px solid var(--accent-color);
}

.section:last-of-type {
    border: none;
}

.section-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    max-width: 35rem;
    height: 130px;
    margin: 0 auto;
}

/*Mobile*/

@media screen and (max-width: 1024px) {
    .page-inner {
        display: block;
    }

    .section {
        width: 100%;
        min-height: 0dvh; /* Keeps page from moving */ 
        padding: 4rem 1rem;
        border-right: none;
        border-bottom: 1px solid var(--accent-color);
    }

    .section:first-child {
        padding-top: 8rem;
    }

    .section:last-child {
        padding-bottom: 8rem;
    }

    .section-inner {
        padding: 0;
    }

    .text {
        height: unset;
    }
}