/* Structure */

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 8rem 3.5rem; 
}

.text {
    max-width: 39.75rem;
}

/*Mobile*/

@media screen and (max-width: 768px) {    
    .page {
        display: block;
        padding: 8rem 1rem;
    }
}