@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/type/ABC_Diatype.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype Medium';
    src: url('/assets/type/ABC_Diatype_Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    scrollbar-width: none;
}

:root {
    --body-font: 'ABC Diatype', Helvetica, Arial, sans-serif;
    --body-font-size: clamp(1.063rem,3vw,1.125rem);
    --heading-font: 'ABC Diatype Medium', Helvetica, Arial, sans-serif;
    --primary-color: #111;
    --accent-color: #BA1C26;
    --background-color: whitesmoke;
}

html {
    font-size: 16px;
}    

/* Light mode cursor */

html {
cursor: url('/assets/graphics/point_light.svg') 5 -12, auto;
}

html a:hover,
.dark-mode-toggle svg:hover,
.play-pause,
.progress input,
.progress input::-moz-range-thumb,
.progress input::-webkit-slider-thumb {
    cursor: url('/assets/graphics/hover_light.svg') 5 -12, auto !important;
}

/* Dark mode cursor */
html.dark-mode {
    cursor: url('/assets/graphics/point_dark.svg') 5 -12, auto;
}

.dark-mode a:hover,
.dark-mode .dark-mode-toggle svg:hover,
.dark-mode .play-pause,
.dark-mode .progress input,
.dark-mode .progress input::-moz-range-thumb,
.dark-mode .progress input::-webkit-slider-thumb {
    cursor: url('/assets/graphics/hover_dark.svg') 5 -12, auto !important;
}

body {
    background-color: var(--background-color);
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

header {
    display: flex; 
    flex-direction: row;
    position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 10000;  
    width: 100%; 
    height: 4rem;
    padding-left: clamp(1rem,3vw,1.5rem);
    padding-right: clamp(1rem,3vw,1.5rem);
    border-bottom: 2px solid var(--primary-color);
    background-color: var(--background-color);;
}

nav.title {
    display: flex;
    flex: .4;  
    justify-content: flex-start; 
    align-items: center; 
    position: relative;
}

nav.links {
    display: flex;
    flex: .6;  
    justify-content: flex-end; 
    align-items: center;
    position: relative;
}

nav.links a:nth-child(n+2) {
    margin-left: .75rem;
}

nav a {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    font-weight: 400;
    line-height: 1.5; 
    color: var(--primary-color);
}

nav:not(.title) a.active,
nav a:hover  {
    color: var(--accent-color);
}

main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
}

p {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    font-weight: 400;
    line-height: 1.5; 
    color: var(--primary-color);
}

a {
    color: var(--primary-color);
    text-decoration: none !important;
}

li {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    list-style-type: none;
    margin: 1rem 0 0;
}

li a {
    border-bottom: 1px solid var(--accent-color) !important;
}

b,
strong {
    font-family: 'ABC Diatype Bold', Helvetica, Arial, sans-serif;
    font-weight: 600;
}

h3 {
    font-family: var(--heading-font);
    font-size: clamp(1.22rem,4vw,1.33rem);
    font-weight: 500;
    line-height: 1.5;
    color: var(--primary-color);
}

h2 {
    font-family: var(--heading-font);
    font-size: clamp(1.22rem,4vw,1.33rem);
    font-weight: 500;
    line-height: 1.4;
    color: var(--accent-color);
    margin: 1.5rem 0 1.5rem 0;
}

h1 {
    font-family: var(--heading-font);
    font-size: clamp(1.73rem,4vw,1.84rem);
    font-weight: 500;
    line-height: 1.3;
    color: var(--primary-color);
    margin: 0 0 1rem 0;
}

/* For contact slide only */
#contact h1 {
    color: var(--accent-color);
}

hr {
    height: 1px;
    margin: 1.75rem 0; 
    border: 0;
    background: var(--accent-color);
}

footer {
    display: flex; 
    flex-direction: row;
    position: fixed; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 4rem;  
    padding-left: clamp(1rem,3vw,1.5rem);
    padding-right: clamp(1rem,3vw,1.5rem);
    border-top: 2px solid var(--primary-color);
    background-color: var(--background-color);
}

footer .dark-mode-toggle {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    position: relative; 
    width: 70%; 
}

.dark-mode-toggle svg {
    width: clamp(1.5rem,3vw,1.75rem);
    height: clamp(1.5rem,3vw,1.75rem);
    fill: var(--primary-color); 
}

footer .copyright {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    position: relative; 
    width: 30%; 
}