@font-face {
    font-family: 'ABCDiatype';
    src: url(/assets/type/abcdiatypevariable_plus.woff2) format('woff2');
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --ratio: 1.4;
    --space--3: calc(var(--space--2) / var(--ratio));
    --space--2: calc(var(--space--1) / var(--ratio));
    --space--1: calc(var(--space-0) / var(--ratio));
    --space-0: calc(1rem + .3vw); 
    --space-1: calc(var(--space-0) * var(--ratio));
    --space-2: calc(var(--space-1) * var(--ratio));
    --space-3: calc(var(--space-2) * var(--ratio));
    --space-4: calc(var(--space-3) * var(--ratio));
    --border: 2px dotted;
    --body: 'ABCDiatype', system-ui, sans-serif;
    --heading: 'ABCDiatype', monospace;
    --paragraph: calc(1.15rem + .3vw);
    --primary: #161718;
    --accent: #BA1C26;
    --progress: lightgray;
    --background: #FBFAF7;
    --background-rgb: 251, 250, 247;
}

@media(prefers-color-scheme:dark) {
    :root {
    --primary: #D3CEC1;
    --progress: var(--primary);
    --accent: #FE7B6C;
    --background: #161718;
    --background-rgb: 22, 23, 24;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: none;
    overscroll-behavior: none;
}

html {
    font-size: 16px;
    cursor: auto;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    font-family: var(--body);
    font-size: var(--paragraph);
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary);
    background-color: var(--background);
}

.sidebar-hoodoo {
    width: 33.33%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 33.33%;
    height: 100vh;
    border-right: var(--border);
    border-bottom: var(--border);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: var(--border);
    padding: var(--space-3) 1.5rem;
}

header > * + *,
.inner > * + *,
.inner > div > * + *:not(h3) {
    margin-block-start: var(--space-1);
}

h2 + h3 {
    margin-block-start: var(--space--1);
}

.logo-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo-container.bottom {
    margin-block-start: calc(var(--space-1) + 3vw);
}

.logo {
    display: block;
    width: 2.2em;
    height: auto;
    margin-inline-start: var(--space--2);
    margin-inline-end: var(--space--2);
}

.short-description {
    max-width: 50ch;
    font-variation-settings: 'MONO' .1;
    font-size: calc(var(--paragraph) * .95);
}

nav {
    width: 100%;
    font-family: var(--heading);
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-2) 0;
    border-top: var(--border);
    font-variation-settings: 'MONO' .1;
}

nav a.active {
    color: var(--accent);
}

main {
    width: 66.67%;
    margin-inline-start: auto;
}

section + section {
    border-top: var(--border);
}

.inner {
    max-width: calc(50ch + 4rem);
    margin: 0 auto;
    padding: 6rem 2rem;
}

section .inner > * + * {
    margin-block-start: var(--space-3);
}

.media {
    display: flex;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

img.tall {
    max-width: 85%;
    margin: 0 auto;
}

img.x-tall {
    max-width: 65%;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading);
    font-size: calc(var(--paragraph) * 1.7);
    font-weight: 550;
    font-variation-settings: 'MONO' .5; 
    line-height: 1.3;
}

h3 {
    font-family: var(--heading);
    font-size: calc(var(--paragraph) * 1.3);
    font-weight: 500;
    font-variation-settings: 'MONO' .5; 
    line-height: 1.3;
    color: var(--accent);
}

a {
    color: var(--primary);
    text-decoration: underline;
    text-decoration-style:dotted;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--accent);
    text-underline-offset: 3px;
    text-decoration-skip-ink: all;
    pointer-events: auto;
    cursor: pointer;
    transition: background-color .3s ease;
}

.linkstyling-off a {
    text-decoration: none;
}

@media (hover:hover) and (pointer:fine) {
    nav a:hover {
        color: var(--accent);
        transition: color .3s ease;
    }

    a:not(nav a):hover {
        opacity: .7;
        transition: color .3s ease;
    }
}

a:focus-visible,
button:focus-visible,
[role="button"]:focus-visible,
input:focus-visible {
    outline: 3px solid var(--accent);
    outline-offset: 3px;
    border-radius: .25rem;
}

[tabindex="-1"]:focus {
    outline: none;
}

ul:not(nav ul) * + * {
    margin-block-start: var(--space--1);
}

li {
    list-style-type: none;
}

.center {
    text-align: center;
}

.emphasis {
    font-weight: 500;
    font-variation-settings: 'MONO' .25;
}

.red {
    color: var(--accent);
}

.slash {
    padding: 0 .1rem;
}

.with-gap {
    margin-inline-end: var(--space--1);
}

.pull-quote {
    font-family: var(--heading);
    font-size: calc(var(--paragraph) * 1.1);
    font-weight: 500;
    font-variation-settings: 'MONO' .2; 
    line-height: 1.3;
}

.subheading {
    margin-block-start: var(--space-1);
    margin-block-end: var(--space-2);
    font-family: var(--heading);
    font-variation-settings: 'MONO' .25;
}

article + article {
    margin-block-start: var(--space-2);
}

.arrow-up-rgt {
    font-family: var(--body);
    font-size: 1.25em;
    line-height: .8;
    vertical-align: text-bottom;
}

.arrow-up-rgt.nav-link {
    font-size: 1.35em;
    line-height: .75;
}

hr.dotted {
    flex-grow: 1;
    border-top: var(--border) var(--primary);
    background: transparent;
}

hr.dotted.accent {
    margin-block-start: var(--space-2);
    margin-block-end: var(--space-2);
    border-top: var(--border) var(--accent);
    background: transparent;
}

.vh {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip-path: inset(50%);
    white-space: nowrap;
}

.skip-link {
    position: absolute;
    top: -999px;
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(var(--paragraph) * .9);
}   

.skip-link:focus {
    top: .5rem;
} 

@media (max-width:960px) {
    .sidebar-hoodoo {
        display: none;
    }

    .sidebar {
        justify-content: flex-start;
        position: relative;
        width: 100%;
        height: 100%;
        border: unset;
        background-color: var(--background);
    }

    nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 999;
        border-bottom: var(--border);
    }

    nav ul {
        display: flex;
    }

    nav li {
        width: 33.33%;
        padding: var(--space-0) 0;
        background-color: rgba(var(--background-rgb), 0.9);
    }

    nav li:nth-child(-n+3){
        border-right: var(--border);
    }

    main {
        width: 100%;
        padding-bottom: 4.25rem;
    }

    .inner {
        padding: 4rem 1.5rem;
    }

    img.tall {
        max-width: min(500px, 95%);
    }

    img.x-tall {
        max-width: min(425px, 95%);
    }
}

.utility main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    margin: unset;
    text-align: center;
}